<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if IE]>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'/>
    <![endif]-->
    <meta name="baidu-site-verification" content="2nXjznVkpe"/>

    <title>注册</title>
    <meta name="keywords" content="mtons, mtons,博客,社区">
    <meta name="description" content="Mtons, 做一个有内涵的技术社区">

    <meta property="mtons:mblog" content="2.2.1">


    <link rel="stylesheet" media='all' href="http://localhost:8080/dist/vendors/bootstrap/css/bootstrap.min.css">
    <link rel='stylesheet' media='all' href="http://localhost:8080/dist/vendors/share.js/css/share.min.css"/>

    <link rel='stylesheet' media='all' href="http://localhost:8080/theme/default/css/style.css"/>
    <link rel='stylesheet' media='all' href="http://localhost:8080/theme/default/css/editor.css"/>
    <link rel='stylesheet' media='all' href="http://localhost:8080/dist/css/plugins.css"/>

    <link rel='stylesheet' media='all'
          href="http://localhost:8080/dist/vendors/simple-line-icons/css/simple-line-icons.css"/>
    <link rel='stylesheet' media='all' href="http://localhost:8080/dist/vendors/font-awesome/css/font-awesome.min.css"/>
    <link rel='stylesheet' media='all' href="http://localhost:8080/dist/vendors/pace/themes/pace-theme-minimal.css"/>

    <link rel="stylesheet" media="all" href="http://localhost:8080/dist/vendors/highlight/styles/github.css"/>

    <script type="text/javascript" src="http://localhost:8080/dist/js/jquery.min.js"></script>
    <script type="text/javascript" src="http://localhost:8080/dist/js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="http://localhost:8080/dist/vendors/layer/layer.js"></script>
    <script type="text/javascript" src="http://localhost:8080/dist/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://localhost:8080/dist/vendors/validate/jquery-validate.js"></script>

    <script type="text/javascript" src="http://localhost:8080/theme/default/js/utils.js"></script>

    <script src="http://localhost:8080/dist/vendors/pace/pace.min.js"></script>

    <script type="text/javascript">
        var _base_path = '';

        window.app = {
            base: '',
            LOGIN_TOKEN: ''
        };

    </script>

    <script type="text/javascript" src="http://localhost:8080/theme/default/js/sea.js"></script>
    <script type="text/javascript" src="http://localhost:8080/theme/default/js/sea.config.js"></script>

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" href="http://mtons.com/dist/images/logo.png"/>
    <link rel="shortcut icon" href="http://mtons.com/dist/images/logo.png"/>
</head>
<body>
<!-- header -->
<!-- Login dialog BEGIN -->
<div id="login_alert" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="width: 450px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">请登录</h4>
            </div>
            <div class="modal-body">
                <form method="POST" action="/login.do" accept-charset="UTF-8">
                    <div class="form-group ">
                        <label class="control-label" for="username">账号</label>
                        <input class="form-control" id="ajax_login_username" name="username" type="text" required>
                    </div>
                    <div class="form-group ">
                        <label class="control-label" for="password">密码</label>
                        <input class="form-control" id="ajax_login_password" name="password" type="password" required>
                    </div>
                    <button id="ajax_login_submit" class="btn btn-success btn-block btn-sm" type="button">
                        登录
                    </button>
                    <div id="ajax_login_message" class="text-danger"></div>
                    <hr>
                    <fieldset class="form-group">
                        <div class="alert alert-info">
                            <a class="forget-password" href="/forgot/apply">忘记密码？</a>
                        </div>
                        <a class="btn btn-default btn-block" href="/oauth/weibo">
                            <i class="fa fa-weibo"></i> 微博帐号登录
                        </a>
                        <a class="btn btn-default btn-block" href="/oauth/qq">
                            <i class="fa fa-qq"></i> QQ帐号登录
                        </a>
                    </fieldset>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Login dialog END -->

<!-- Fixed navbar -->
<header class="site-header headroom">
    <!--[if lt IE 9]>
    <div class="alert alert-danger alert-dismissible fade in" role="alert" style="margin-bottom:0">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
        </button>
        <strong>您正在使用低版本浏览器，</strong> 在本页面的显示效果可能有差异。
        建议您升级到
        <a href="http://www.google.cn/intl/zh-CN/chrome/" target="_blank">Chrome</a>
        或以下浏览器：
        <a href="www.mozilla.org/en-US/firefox/‎" target="_blank">Firefox</a> /
        <a href="http://www.apple.com.cn/safari/" target="_blank">Safari</a> /
        <a href="http://www.opera.com/" target="_blank">Opera</a> /
        <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank">Internet Explorer
            9+</a>
    </div>
    <![endif]-->

    <div class="container">
        <nav class="navbar" role="navigation">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="http://localhost:8080/theme/default/images/logo.png"/>
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="http://localhost:8080/channel/2" nav="博客">博客</a>
                    </li>
                    <li>
                        <a href="http://localhost:8080/channel/3" nav="问答">问答</a>
                    </li>
                    <li>
                        <a href="http://localhost:8080/channel/4" nav="分享">分享</a>
                    </li>
                </ul>
                <ul class="navbar-button list-inline" id="header_user">
                    <li view="search" class="hidden-xs hidden-sm">
                        <form method="GET" action="/search" accept-charset="UTF-8" class="navbar-form navbar-left">
                            <div class="form-group">
                                <input class="form-control search-input mac-style" placeholder="搜索" name="kw"
                                       type="text" value="">
                                <button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                    </li>

                    <li><a href="/login" class="btn btn-default btn-sm signup">登录</a></li>

                    <li><a href="/register" class="btn btn-primary btn-sm signup">注册</a></li>

                </ul>
            </div>
        </nav>
    </div>
</header>

<script type="text/javascript">
    $(function () {
        $('a[nav]').each(function () {
            $this = $(this);
            if ($this[0].href == String(window.location)) {
                $this.closest('li').addClass("active");
            }
        });
    });
</script>
<!-- Header END --><!-- /header -->

<!-- content -->
<div class="wrap">
    <!-- Main -->
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 floating-box">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">注册</h3>
                    </div>
                    <div class="panel-body">
                        <div id="message">
                        </div>
                        <form method="POST" action="/register.do" accept-charset="UTF-8">
                            <div class="form-group ">
                                <label class="control-label" for="username">用户名</label>
                                <input class="form-control" name="username" type="text" data-required
                                       data-conditional="username" data-description="username"
                                       data-describedby="message">
                            </div>
                            <div class="form-group ">
                                <label class="control-label" for="email">邮箱</label>
                                <input class="form-control" name="email" type="text" data-required
                                       data-conditional="email" data-description="email" data-describedby="message">
                            </div>
                            <div class="form-group ">
                                <label class="control-label" for="nickname">昵称</label>
                                <input class="form-control" name="nickname" type="text" data-required>
                            </div>
                            <div class="form-group ">
                                <label class="control-label" for="username">密码</label>
                                <input class="form-control" id="password" name="password" type="password" maxlength="18"
                                       placeholder="新密码" data-required>
                            </div>
                            <div class="form-group ">
                                <label class="control-label" for="username">确认密码</label>
                                <input class="form-control" name="password2" type="password" maxlength="18"
                                       placeholder="请再输入一次密码" data-required data-conditional="confirm"
                                       data-describedby="message" data-description="confirm">
                            </div>
                            <button type="submit" class="btn btn-success btn-block">
                                提交
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $(function () {
                $('form').validate({
                    onKeyup: true,
                    onChange: true,
                    eachValidField: function () {
                        $(this).closest('div').removeClass('has-error').addClass('has-success');
                    },
                    eachInvalidField: function () {
                        $(this).closest('div').removeClass('has-success').addClass('has-error');
                    },
                    conditional: {
                        confirm: function () {
                            return $(this).val() == $('#password').val();
                        },
                        email: function () {
                            return /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test($(this).val());
                        },
                        username: function () {
                            return /^[a-z][a-z_0-9]{4,18}$/i.test($(this).val());
                        }
                    },
                    description: {
                        confirm: {
                            conditional: '<div class="alert alert-danger">两次输入的密码不一致</div>'
                        },
                        email: {
                            conditional: '<div class="alert alert-danger">邮箱格式不合法</div>'
                        },
                        username: {
                            conditional: '<div class="alert alert-danger">只能是字母/字母+数字的组合,不少于5位</div>'
                        }
                    }
                });
            })
        </script>

    </div>
</div>
<!-- /content -->

<!-- footer -->
<footer class="footer">
    <div class="container">
        <div class="footer-col footer-col-logo hidden-xs hidden-sm">
            <img src="http://localhost:8080/theme/default/images/logo.png" alt="Mblog"/>
        </div>
        <div class="footer-col footer-col-copy">
            <ul class="footer-nav hidden-xs">
                <li class="menu-item"><a href="/about">关于我们</a></li>
                <li class="menu-item"><a href="/joinus">联系我们</a></li>
                <li class="menu-item"><a href="/faqs">常见问题</a></li>
                <li>
                    <script>
                        var _hmt = _hmt || [];
                        (function () {
                            var hm = document.createElement("script");
                            hm.src = "//hm.baidu.com/hm.js?a029e6c6dddf427f4cbfb2b00d7d5311";
                            var s = document.getElementsByTagName("script")[0];
                            s.parentNode.insertBefore(hm, s);
                        })();
                    </script>
                </li>
            </ul>
            <div class="copyright">
                <span>Copyright © Mtons. </span>
            </div>
        </div>
        <div class="footer-col footer-col-sns hidden-xs hidden-sm">
            <div class="footer-sns">
                <span>Powered By <a href="http://mtons.com/?copyright" target="_blank">Mtons</a></span>
            </div>
        </div>
    </div>
</footer>

<a href="#" class="site-scroll-top"></a>

<script type="text/javascript">
    seajs.use('main', function (main) {
        main.init();
    });
</script>
</body>
</html>
