<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.colleage.cook.mapper.FoodMenuInfoMapper">

    <resultMap id="SummaryResultMap" type="com.colleage.cook.domain.MenuSummaryInfo">
        <id column="id" property="id" jdbcType="INTEGER"></id>
        <result column="uuid" property="uuid" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="cover_img" property="cover_img" jdbcType="VARCHAR"/>
        <result column="userId" property="userId" jdbcType="INTEGER"/>
        <result column="description" property="desc" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
        <result column="score" property="score" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="FoodResultMap" type="com.colleage.cook.domain.MenuFoodInfo">
        <id column="id" property="id" jdbcType="INTEGER"></id>
        <result column="menu_id" property="menu_id" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="num" property="num" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="StepResultMap" type="com.colleage.cook.domain.MenuStepInfo">
        <id column="id" property="id" jdbcType="INTEGER"></id>
        <result column="menu_id" property="menu_id" jdbcType="VARCHAR"/>
        <result column="description" property="desc" jdbcType="VARCHAR"/>
        <result column="img" property="img" jdbcType="VARCHAR"/>
        <result column="orderI" property="order" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Summary_Base_Column_List">
           id, uuid, name, cover_img, userId, description, create_time, score
    </sql>

    <sql id="Food_Base_Column_List">
           id, menu_id, name, num
    </sql>

    <sql id="Step_Base_Column_List">
           id, menu_id, description, img, orderI
    </sql>

    <select id="getMenuByLikeWordCount" resultType="Integer">
        select count(1) from menu_summary
        where name like concat(concat(#{word}, '%'), '%')
    </select>

    <select id="getMenuByLikeWord" resultMap="SummaryResultMap">
        select <include refid="Summary_Base_Column_List"></include> from menu_summary
        where name like concat(concat(#{word}, '%'), '%') order by score desc
    </select>

    <select id="getRecommendMenu" resultMap="SummaryResultMap">
        select <include refid="Summary_Base_Column_List"></include> from menu_summary
        where recommend_num > #{mixScore} order by recommend_num desc, score desc limit #{start}, #{limit}
    </select>

    <select id="getMostPopularInDaysCount" resultType="Integer">
        select count(1) from menu_summary
        where date_sub(curdate(), INTERVAL #{recentDays} DAY) &lt;= create_time
    </select>

    <select id="getMostPopularInDays" resultMap="SummaryResultMap">
        select <include refid="Summary_Base_Column_List"></include> from menu_summary
        where date_sub(curdate(), INTERVAL #{recentDays} DAY) &lt;= create_time order by score desc limit #{start},
        #{limit}
    </select>

    <select id="getLastMonthPopularCount" resultType="Integer">
        select count(1) from menu_summary
        where MONTH(create_time) = MONTH(now()) - #{months}
    </select>

    <select id="getLastMonthPopular" resultMap="SummaryResultMap">
        select <include refid="Summary_Base_Column_List"></include> from menu_summary
        where MONTH(create_time) = MONTH(now()) - #{months} order by score desc limit #{start}, #{limit}
    </select>

    <select id="getLastCreateCount" resultType="Integer">
        select count(1) from menu_summary
        where date_sub(curdate(), INTERVAL #{recentDays} DAY) &lt;= create_time
    </select>

    <select id="getLastCreate" resultMap="SummaryResultMap">
        select <include refid="Summary_Base_Column_List"></include> from menu_summary
        where date_sub(curdate(), INTERVAL #{recentDays} DAY) &lt;= create_time order by create_time desc limit
        #{start}, #{limit}
    </select>

    <select id="getPopularMenuCount" resultType="Integer">
        select count(1) from menu_summary where YEAR(create_time) = YEAR(now())
    </select>

    <select id="getPopularMenu" resultMap="SummaryResultMap">
        select <include refid="Summary_Base_Column_List"></include> from menu_summary
        where YEAR(create_time) = YEAR(now())
        order by score desc limit #{start}, #{limit}
    </select>

    <select id="getMenuByCategoryIdCount" resultType="Integer">
        select <include refid="Summary_Base_Column_List"></include> from menu_summary
        where uuid in (select menu_id from category_menu_rel r where r.category_id = #{category})
    </select>

    <select id="getMenuByCategoryId" resultMap="SummaryResultMap">
        select <include refid="Summary_Base_Column_List"></include> from menu_summary
        where uuid in (select menu_id from category_menu_rel r where r.category_id = #{category})
        order by recommend_num desc limit #{start}, #{limit}
    </select>

    <select id="getSimpleFoods" resultType="String">
        select name from menu_food where menu_id = #{uuid}
    </select>

    <select id="getMenuSummaryInfo" resultMap="SummaryResultMap">
        select <include refid="Summary_Base_Column_List"></include> from menu_summary where uuid = #{uuid}
    </select>

    <select id="getMenuFoodInfos" resultMap="FoodResultMap">
        select <include refid="Food_Base_Column_List"></include> from menu_food where menu_id = #{uuid}
    </select>

    <select id="getMenuStepInfos" resultMap="StepResultMap">
        select <include refid="Step_Base_Column_List"></include> from menu_step
        where menu_id = #{uuid} order by orderI ASC
    </select>

    <select id="menuIsCollected">
        select count(1) from menu_other_user_rel where user_id = #{userId} and menu_id = #{uuid}
    </select>

    <insert id="insertUserMenuRel">
        insert into menu_other_user_rel(user_id, menu_id) values(#{userId}, #{uuid})
    </insert>

    <update id="updateMenuCollected">
        update menu_summary set collect_num = collect_num + 1 where uuid = #{uuid}
    </update>

    <update id="updateMenuBrowsed">
        update menu_summary set browse_num = browse_num + #{nums} where uuid = #{uuid}
    </update>

    <update id="updateMenuRecommend">
        update menu_summary set recommend_num = (score + browse_num/collect_num)/2
    </update>

    <insert id="insertMenuSummary">
        insert into menu_summary(uuid, name, cover_img, userId, description)
        values(#{summaryInfo.uuid},#{summaryInfo.name}, #{summaryInfo.cover_img}, #{userId}, #{summaryInfo.desc})
    </insert>

    <insert id="insertMenuCategoryRel">
        insert into category_menu_rel(category_id, menu_id) values
        <foreach item="category" collection="categorys" separator=",">
            (#{category}, #{uuid})
        </foreach>
    </insert>

    <insert id="insertMenuFoods">
        insert into menu_food(menu_id, name, num) values
        <foreach item="food" collection="menuFoods" separator=",">
            (#{uuid}, #{food.name}, #{food.num})
        </foreach>
    </insert>

    <insert id="insertMenuSteps">
        insert into menu_step(menu_id, description, img, orderI) values
        <foreach item="step" collection="menuSteps" separator=",">
            (#{uuid}, #{step.desc}, #{step.img}, #{step.order})
        </foreach>
    </insert>

</mapper>